:root {
    --opera-gx-background-color-rgb: env(-opera-gx-background-color-r) env(-opera-gx-background-color-g) env(-opera-gx-background-color-b);
    --opera-gx-background-color: rgb(var(--opera-gx-background-color-rgb));
    --opera-gx-accent-color-rgb: env(-opera-gx-accent-color-r) env(-opera-gx-accent-color-g) env(-opera-gx-accent-color-b);
    --opera-gx-accent-color: rgb(var(--opera-gx-accent-color-rgb));
}

body {
    background-color: var(--opera-gx-background-color);
    color: var(--opera-gx-accent-color);
}

input,
textarea {
    background-color: var(--opera-gx-background-color);
    color: white; // TODO: Make theme-dependent
    width: 100%;
    resize: vertical;
    border: 1px solid var(--opera-gx-accent-color);
    font-family: monospace;

    &:focus-visible {
        outline: var(--opera-gx-accent-color) solid 1px;
        outline-offset: 0;
    }
}

#notes-section {
    min-height: 2.5rem;
}

#abc-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 1ch;

    // Whatever contains each input
    & > label {
        width: 7ch;
    }
}

#top-container {
    display: flex;
    flex-flow: column;
    gap: 1ch;
}

label {
    font-weight: bold;
}

.hidden {
    display: none;
}
